.footer {
  height: 50px;
  position: sticky;
  bottom: 0;
  width: -webkit-fill-available;
  border-top: 1px solid #ebe6e7;
}

.footerCard {
  padding-top: 14px;
}

.development {
  color: gray;
  margin-right: 0.25rem;
}

.iconGithub {
  margin-left: 0.35rem;
  height: 22px;
}
.porfolioGithub {
  display: flex;
}

.porfolioGithub:hover {
  text-decoration: underline;
}

@media (max-width: 640px) {
  .footer {
    height: 30px;
  }

  .footerCard {
    padding-top: 8px;
  }

  .development {
    font-size: 12px;
  }

  .porfolioGithub {
    font-size: 12px;
  }

  .iconGithub {
    margin-left: 0.35rem;
    height: 16px;
    width: 12px;
  }
}
