@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 34px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
}

.profile__picture {
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);

}
.profile__info {
  margin-left: 20px;
  max-width: 600px;
}

.scroll-pt-navbar {
  scroll-padding-top: 4rem;
}

.project__link:hover {
  text-decoration: underline;
}

section#skills-section, section#hobbies-section {
  margin: 0;
}

.display-linebreak {
  white-space: pre-line;
}

@media (max-width: 640px) {
  .profile__picture {
    width: 100px;
    height: 100px;
  }

  h1 {
    font-size: 20px;
    font-weight: 700;
  }

  h3 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }
}
